@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap");

.color-primary { color: var(--primary); }
.color-hover-primary { &:hover{ color: var(--primary); } }
.background-color-primary { background-color: var(--primary); }
.background-color-hover-primary {  &:hover{ background-color: var(--primary); } }

.color-secondary { color: var(--secondary); }
.color-hover-secondary { &:hover{ color: var(--secondary); } }
.background-color-secondary { background-color: var(--secondary); }
.background-color-hover-secondary {  &:hover{ background-color: var(--secondary); } }

.color-light { color: var(--light); }
.color-hover-light { &:hover{ color: var(--light); } }
.background-color-light { background-color: var(--light); }
.background-color-hover-light {  &:hover{ background-color: var(--light); } }

.color-dark { color: var(--dark); }
.color-hover-dark { &:hover{ color: var(--dark); } }
.background-color-dark { background-color: var(--dark); }
.background-color-hover-dark {  &:hover{ background-color: var(--dark); } }

.color-selection { color: var(--selection); }
.color-hover-selection { &:hover{ color: var(--selection); } }
.background-color-selection { background-color: var(--selection); }
.background-color-hover-selection {  &:hover{ background-color: var(--selection); } }


::-moz-selection {
  background: var(--selection);
}

::selection {
  background: var(--selection);
}

.height-100vh {
  min-height: 100vh;
}

a {
  padding: 4px;
  border-radius: 4px;
  color: var(--light);
  background-color: var(--secondary);
  transition: 0.1s all;
  &:hover {
    text-decoration: none;
    color: var(--light);
    background-color: var(--primary);
  }
}

.footer-version{
  color: var(--dark);
  background-color: var(--light);
}

.footer-credits{
  font-size: 14px;
}

.footer-social-link{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  a{
    color: var(--primary);
    background-color: transparent !important;
    &:hover {
      text-decoration: underline;
      color: var(--primary);
    }
  }
}

ul {
  list-style-type: none;
  padding: 0px;
}

.intro {
  font-size: 26px;
}

.main-heading {
  color: var(--primary);
}

.text-bold {
  font-weight: 600;
}

.project-tags li {
  display: inline;
  text-transform: capitalize;
}

.btn-custom{
  border: 1px solid var(--primary);
  padding: 8px;
  font-size: 14px;
}

.carousel-control-prev, .carousel-control-next{
  margin-top: 20px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  transition: 0.25s all;
  background-color: var(--light);
  color: var(--primary);
  &:hover{
    color: var(--primary);
    background-color: var(--light);
  }
  &:focus{
    color: var(--primary);
  }
}
.carousel-indicators{
  margin-bottom: 10px;
  li{
    background-color: var(--light);
    height: 10px;
    width: 10px;
    border-radius: 100%;
  }
}

.testimonial-heading{
  font-size: 16px;
}

.testimonial-card{
  color: var(--light);
  height: 220px;
  .name{
    font-size: 16px;
  }
  .quote{
    font-size: 14px;
  }
  .avatar{
    margin: 0 auto;
    height: 70px;
    width: 70px;
    background-size: cover;
    border-radius: 100%;
  }
}
