$primary: #6200ff;
$secondary: #8b46fa;
$light: #FFFFFF;
$selection: #FFDC00;

$selection-color: #131313;
$body-color: #131313;
$body-background-color: #FFFFFF;

// // DARK MODE VARIABLES
// $selection-color: #131313;
// $body-color: #FFFFFF;
// $body-background-color: #131313;

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: $body-background-color;
  color: $body-color;
  transition: 0.25s all;
}

.height-100vh {
  min-height: 100vh;
}

::-moz-selection {
  background: $selection;
  color: $selection-color;
}

::selection {
  background: $selection;
  color: $selection-color;
}

a {
  padding: 4px;
  border-radius: 4px;
  color: $light;
  background-color: $secondary;
  transition: 0.1s all;
  &:hover {
    text-decoration: none;
    color: $light;
    background-color: $primary;
  }
}

.footer-link{
  margin-left: 20px;
  display: inline;
  a{
    color: $primary;
    background-color: transparent !important;
    &:hover {
      text-decoration: underline;
      color: $primary;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0px;
}

.intro {
  font-size: 26px;
}

.main-heading {
  color: $primary;
}

.text-bold {
  font-weight: 600;
}

.project-tags li {
  display: inline;
  text-transform: capitalize;
}

.btn-custom{
  border: 1px solid $primary;
  padding: 8px;
  font-size: 14px;
}