::-moz-selection {
  background-color: var(--selection);
  color: var(--selection-color);
}

::selection {
  background-color: var(--selection);
  color: var(--selection-color);
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: var(--body-background-color);
  color: var(--body-color);
  transition: 0.5s all;
}

.testimonial{
  background-color: var(--secondary);
  border-radius: 8px;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  // padding: 20px;
  border: 1px solid var(--card-border);
  // background-color: var(--dark);
  // color: var(--light);
  margin: 0px 20px 20px 0px;
  border-radius: 8px;
}